<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cov2019 world map</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/world.js"></script>
</head>
<body>
    <div id="title">Cov2019全球疫情追踪</div>
    <div id="world">世界地图</div>
    <div class="tips">
        <a class='china' href="/">返回中国疫情地图</a>
    </div>
    <script src="../static/js/world-map.js"></script>
    <script src="../static/js/world-controller.js"></script>
</body>
</html>
